<h1 class="index-title">投稿一覧</h1>
<div class="clearfix">
 <% @stone_images.each do |stone_image| %>
 <div class="imgtxtbox1 ">
  <%= link_to stone_image_path(stone_image.id) do %>
  <%= attachment_image_tag stone_image, :image, :fill, 300, 300, class: "imgbox" %>
  <% end %>
  <p class="txtbox1"><i class="fas fa-user-circle fonticon"></i>by
    <%= stone_image.user.name %>
  </p>
  <h3 class="txtbox">
   <%= link_to stone_image_path(stone_image.id) do %>
   <%= stone_image.shop_name %>
   <% end %>
 </h3>
 <ul class="inline-meta">
   <li class="txtbox">
    <p class="txtbox-day">投稿日</p>
    <%= stone_image.created_at.strftime('%Y/%m/%d') %>
    <p class="txtbox-comment">コメント</p>
    <p><%= stone_image.caption %></p>
  </li>
</ul>
</div>
<% end %>
</div>
<br>

<div class="gotonew">
  <a> </a>
</div>
<div class="gotonew1">
  <%= link_to "+", new_stone_image_path %>
</div>
<div class="paginate">
  <%= paginate @stone_images %>
</div>

