<!DOCTYPE html>
<html>
  <head>
    <title>Pietra</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  </head>

  <body>
    <div class="head-menu">
      <ul class="menu">
      <li class="a">
        <a href="http://localhost:3000/">
        <svg width="180px" class="pietra-pic" id="レイヤー_1" data-name="レイヤー 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 369.94 142.31"><defs><style>.cls-1{font-size:111px;font-family:Krungthep;}.cls-1,.cls-3{fill:#fff;}.cls-2{fill:#e85077;}</style></defs><text class="cls-1" transform="translate(0 97.13)">Pietra</text><rect x="302" y="256" width="7" height="1.1" transform="translate(-277.53 -222.32) rotate(0.67)"/><rect x="41.44" y="37.24" width="10" height="1"/><rect x="34.44" y="49.24" width="4" height="3"/><path class="cls-2" d="M317,270.55l.71-.43,3.6-13.34h-9.57l4.49,13.28Zm4-14.49-4.42-5.36-4.46,5.36Zm-18.39.72L314.91,269l-4.05-12.21ZM319,269.21l12.59-12.43h-9.31ZM308.3,250.55l-5.74,5.51h8Zm23.13,5.51-5.89-5.71-2.94,5.71ZM316,250h-7l2.29,5.64Zm8.74,0h-7.62l4.69,5.69Z" transform="translate(-280.56 -218.76)"/><rect class="cls-3" x="301.07" y="247.9" width="6.36" height="29.7" transform="translate(-377.24 73.33) rotate(-45)"/><rect class="cls-3" x="324.27" y="250.28" width="6.72" height="29.7" transform="translate(2.88 -372.78) rotate(45)"/><rect class="cls-3" x="312.12" y="230.65" width="9" height="29.7" transform="translate(281.57 -289.89) rotate(90)"/><rect class="cls-3" x="302.84" y="246.06" width="3" height="12.66" transform="translate(-12.95 -360.04) rotate(45)"/><rect class="cls-3" x="326.84" y="245.06" width="3" height="12.66" transform="translate(457.72 -21.78) rotate(135)"/><polygon class="cls-3" points="102.13 23.9 92.39 29.45 82.7 23.79 82.76 12.58 92.5 7.02 102.19 12.68 102.13 23.9"/></svg>
        </a>
      </li>
      <li class="a">
        <a class="catchcopy">-石好きのたまり場-</a>
      </li>
        <% if user_signed_in? %>
        <li class="a2">
          <%= link_to "ログアウト",destroy_user_session_path,method: :delete, :style=>"color:white;", class:"headmenu"%>
        </li>
        <li class="a2">
          <%= link_to 'マイページ', user_path(current_user.id), :style=>"color:white;", class:"headmenu" %>
        </li>
        <li class="a2">
          <%= link_to '新規投稿',new_stone_image_path, :style=>"color:white;", class:"headmenu"%>
        </li>
        <li class="a2">
          <%= link_to "投稿一覧",stone_images_path, :style=>"color:white;", class:"headmenu" %>
        </li>
        <li class="a2">
          <%= link_to "どんなアプリ",option_path, :style=>"color:white;", class:"headmenu" %>
        </li>
        <div class="btn-trigger" id="btn">
        <span></span>
        <span></span>
        <span></span>
        </div>
      <% else %>
       <li class="a2">
        <%= link_to "新規登録", new_user_registration_path, :style=>"color:white;" %>
      </li>
      <li class="a2">
        <%= link_to "ログイン", new_user_session_path, :style=>"color:white;" %>
      </li>

    <div class="btn-trigger" id="btn">
    <span></span>
    <span></span>
    <span></span>
    </div>
    <% end %>
  </ul>
</div>
    <%= yield %>
  </body>
</html>
